* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer components {

.form-option {
  @apply border border-black m-2 
}

.drag-hover{
  @apply bg-gray-400
}
}